<div class="container">
<div class="page-header"><h1>Update preferences</h1></div>

<% if flash[:failure_msg]%>
  <div class="alert alert-danger">
    <% @notification.errors.each do |attr,error| %>
      <p class="text-center"><%= error %></p>
    <% end %>
  </div>	   
<% end %>

<%= render 'preference_form' %>

</div>