<div class="container margin-bot-5">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
		<div class="text-center margin-bot-2"><h1> About Us </h1></div>
		<div class="text-center"><p class="intro-p"> A Cup of Sugar is a goodwill community for borrowing and lending. Our goal is to act as a safe and convenient intermediary connecting potential borrowers and lenders. </div>
		<br>
		<div class="text-center margin-bot-2"><h1> The Team </h1></div>
		<div class="text-center"><p class="intro-p"> Nayeong Park <br> Jiwoo Kim <br> Calvin Thai <br> Jiehao Liu <br> Brameyaa Ragu <br> Ramya Prasad <br> </p></div>
		<div class="col-xs-1"></div>
	</div>
</div>

