<div class="container margin-bot-5">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
		<div class="text-center margin-bot-2"><h1>FAQ</h1></div>
		<div class="text-center"><p class="intro-p"> For any questions our lovely users may have. </p></div>
	</div>
	<div class="col-xs-1"></div>
	</div>
	</div>
</div>
	<div class="container-fluid terms-top" style="background-color: #f7f8fa;">
	<div class="row ">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
<div class="terms-section">
	<p class="font-14"> Q: What does your service provide? </p>
</div>
<div class="terms-section">
<p class="font-14"> A: Our service allows users to post items to be lent out and users to borrow items. Users can also add each other as friends and send each other messages for greater communication. </p>
</div>
<div class="terms-section">
<p class="font-14"> Q: Is it free? </p>
</div>
<div class="terms-section">
<p class="font-14"> A: Yes! </p>
</div>
<div class="terms-section">
  <div class="terms-section">
  <p class="font-14"> Q: What cities are you available in? </p>
  </div>
  <div class="terms-section">
  <p class="font-14"> A: We are currently only available in Ontario. The following 10 cities support our services: Brampton, Hamilton, Kitchener, London, Markham, Mississauga, Ottawa, Toronto, Vaughan, and Windsor. We hope to expand soon! </p>
  </div>


  <div class="terms-section">
  <p class="font-14"> Q: How do I contact the team? </p>
  </div>
  <div class="terms-section">
  <p class="font-14"> A: Please leave a message through "message admin" to Admin Admin. </p>
  </div>

<p class="font-14"> Q: A user is posting inappropriate/faulty items. What should I do? </p>
</div>
<div class="terms-section">
<p class="font-14"> A: Leave a negative review or report the user! You can also block users. </p>
</div>



	</div>
	<div class="col-xs-1"></div>
</div>
</div>
