<div class="container margin-bot-5">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
		<div class="text-center margin-bot-2"><h1>Privacy Policy</h1></div>
		<div class="text-center"><p class="intro-p">A Cup of Sugar is founded on the principle of helping people in the same community borrow and lend out stuff to benefit the entire society. We know that you care about how your personal information is used and shared, and we take your privacy very seriously. By visiting the A Cup of Sugar website, registering with A Cup of Sugar or using any A Cup of Sugar services, you are accepting and agree to comply with this policy.</p></div>
	</div>
	<div class="col-xs-1"></div>
	</div>
	</div>
</div>
	<div class="container-fluid terms-top" style="background-color: #f7f8fa;">
	<div class="row ">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
<div class="terms-section">
	<p class="font-14">Your privacy is important to us. It is A Cup of Sugar's policy to respect your privacy regarding any information we may collect from you across our website, <a href="http://acupofsugar.herokuapp.com/" class="font-14">http://acupofsugar.herokuapp.com/</a>, and other sites we own and operate.</p>
</div>
<div class="terms-section">
<p class="font-14">We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>
</div>
<div class="terms-section">
<p class="font-14">We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification.</p>
</div>
<div class="terms-section">
<p class="font-14">We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>
</div>
<div class="terms-section">
<p class="font-14">Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>
</div>
<div class="terms-section">
<p class="font-14">You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
</div>
<div class="terms-section">
<p class="font-14">Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
</div>
	</div>
	<div class="col-xs-1"></div>
</div>
</div>
