<div class=" table-responsive">
  <h3>Reviews for this item: </h3>
  <%if @reviews.length > 0 %>
  <table class="table table-hover">
    <tbody>
      <% @reviews.each do |reviewer| %>
      <tr>
        <td><%= "#{reviewer.fname} #{reviewer.lname}"%></td> <!-- link to view user profile?-->
        <td><div class="img-responsive rating-display" data-score="<%= reviewer.rating %>"></div></td>
        <td><%= reviewer.comment %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
  <% else %>
    There are no reviews yet
  <%end%>
</div>

<script>
  $('.rating-display').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      //path: '/assets/',
      size: 24
    });
</script>
