<div class= "center-block">
	<% if @item.images.length > 0%>
		<% @item.images.in_groups_of(2, false).each do |group| %>
			<div class="swipe_images">
				<div class="row">
					<% group.each do |image|  %>
						<div class="col-md-4">
							<%= image_tag(image, class: "img-responsive") %>
						</div>
					<% end %>
				</div>
			</div>
		<%end%>
	<% end %>

		<p><h4>Description: <%= @item.descr %></h4></p>
		<%if @item.address != nil && @item.latitude != nil && @item.longitude !=nil %>
			<p>Preferred location of transaction: <%= @item.address %></p>
				<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@item.latitude},#{@item.longitude}&markers=#{@item.latitude},#{@item.longitude}&zoom=15&size=640x400&key=AIzaSyAAubHLK_WZJZTurysR-3VNPcEJbUdDA24",
              class: 'img-fluid img-rounded', alt: "#{@item.name} on the map"%>
		<% end %>

</div>
