<!-- <h2>Items belong to this user</h2>
 --><div class="table-responsive">
<% if @user_items.length > 0 %>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Item name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Category</th>
    </tr>
  </thead>
  <tbody>
  <% @user_items.each do |item| %>
    <tr>
      <td><%= link_to item.name, item_path(item) %></td>
      <td><%= item.descr %></td>
      <td><%= item.status %></td>
      <td><%= item.category %></td>
      <!--add item.return_date column to db for lentout items-->
    </tr>
  <% end %>
  </tbody>
</table>
<%else%>
  <p>No items registered yet</p>
<%end%>
</div>
<div><%#= link_to '< Back', user_path(@user.id), class: "cta-alt"%></div>