


<!-- user specific view for /users/:id/items -->
<%if @user && session[:user_id] && session[:user_id] == @user.id%>
	<div id="user_items"><%= render  "items/manage_items_view" %></div>
<%elsif @user%>
	<div id="items"><%= render "items/user_item_public_view" %></div>

<% else %>
<!--for both /items & /users/:id/items views -->
<%= render "items/filterrific_search" %>
<%end%>
