<div class = "container">
	<div class="page-header">
   <h1>Add New Item</h1>  
  </div>


<% if flash[:failure_msg]%>
  <div class="alert alert-danger">
  	<% if @item%>
	    <% @item.errors.each do |attr,error| %>
	      <p class="text-center"><%= error %></p>
	    <% end %>
    <%end%>
  </div>
<% end %>

<%= render "item_form"%>
</div>