// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.terms-section{
    padding: 20px 0;
    font-size: 12px;
    line-height: 1.4em;
    border-bottom: 1px solid #eeeff2;
}

.terms-top{
	border-top: 1px solid #eeeff2
}

.intro-p{
    color: #525558;
    font-size: 18px;
    max-width: 650px;
    display: inline-block;
    line-height: 1.4em;
}

footer a{
	color:#222;
}