   <%= form_for([ @user, @borrowed_item ]) do |form| %>
    <div class="form-group">
    	<% curr_due = @borrowed_item.due_date.strftime("%Y-%m-%d") %>
      <%= form.label 'I would like to extend due date for this item until:' %><br>
      <%= form.date_field(:temp_due_date, value: curr_due, min: curr_due, class: "form-control") %>
    </div>
    <p>
      <%= form.submit 'Send extension request', class: "cta-alt cta-background" %>
    </p>
  <% end %>
